body {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 360px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    background-color: #bfbfbf;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.screen {
    grid-column: span 4;
    height: 120px;
}

.calculator > .clear {
    grid-column: span 2;
    background-color: #ffb3ba;
}

.calculator > .delete {
    grid-column: span 2;
    background-color: #bae1ff;
}

.btn {
    height: calc(300px/5);
}
.calculator > * {
    margin: 0.2rem;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #f8f8f8;
    font-size: 1rem;
}

.calculator > .btn:hover {
    background-color: #d0d0d0;
}

.calculator > .clear:hover {
    background-color: #e99;
}

.calculator > .delete:hover {
    background-color: #81c7fd;
}
